<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhitePages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhitePages.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WhitePages.Properties.Settings.ConnectionString" connectionString="Data Source=410-080153\SQLEXPRESS;Initial Catalog=WhitePages;Integrated Security=True;Connection Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <WhitePages.Properties.Settings>
            <setting name="AddressFieldsLength" serializeAs="String">
                <value>200</value>
            </setting>
        </WhitePages.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WhitePages.Properties.Settings>
            <setting name="NamesFieldsLength" serializeAs="String">
                <value>100</value>
            </setting>
        </WhitePages.Properties.Settings>
    </applicationSettings>
</configuration>
